.helpful-article-list {
	margin-top: 20px;
	div {
		padding: 0;
	}


	.img-wrapper {
		width: 100%;
		max-height: 305px;
		height: 100%;
		overflow: hidden;
		img {
			display: block;
			margin: 0 auto;
			text-align: center;
			width: 100%;
			height: 100%;
		}
	}

	.overflow-content {
		max-width: 305px;
		overflow: hidden;
		margin: 0 auto;
		padding: 20px 25px;

		.article-title {
			color: #6c6460;
			font: 700 22px / 24px $OpenSans;
		}

		.article-date {
			margin: 10px 0 15px;
			color: #e1ddda;
			font: 400 16px / 18px $OpenSans;
			font-style: italic;
		}

		.article-content {
			height: 105px;
			overflow: hidden;
			p {
				color: #6c6460;
				font: 400 16px / 25px $OpenSans;
			}
		}

		.article-more {
			display: block;
			margin: 15px 0 0;
			color: #6c6460;
			font: 600 16px / 18px $OpenSans;
			cursor: pointer;
			@include transition;

			&:hover {
				color: #ffad0b;
			}
		}
	}
}