/*section slider*/
.slider-section {

    .main-slider {
        overflow: hidden;
        margin: 0 auto;

        .slick-dots {
            bottom: 20px;
            display: none!important;

            li {
                width: 14px;
                height: 14px;
                border-radius: 100%;
                background-color: #e3e0dc;

                button {
                    width: 14px;
                    height: 14px;
                    padding: 0;
                    border-radius: 100%;
                    background-color: #e3e0dc;

                    &:before {
                        line-height: 14px;
                        width: 14px;
                        height: 14px;
                        color: transparent;
                    }
                }

                &.slick-active {
                    background-color: #ffac08;
                    button {
                        background-color: #ffac08;
                        &:before {
                            color: transparent;
                        }
                    }
                }
            }
        }
    }

    .slick-slide {
        position: relative;
        height: 281px;
        overflow: hidden;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        &:before {
            position: absolute;
            content: "";
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.45)
        }

        img {
            min-height: auto;
            height: 100%;
            min-width: auto;
            max-width: none;
            width: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    }
    .slider-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        padding: 19px 0;
        border: 1px solid rgba(242,238,235, 0.7);
        .main-title {
            min-width: 235px;
            color: #f2eeeb;
            font: 400 22px / 30px $OpenSans;
            text-transform: uppercase;
            text-align: center;
            
            span {
                color: #ffac08;
                font-weight: 700;
                b {
                    color: #f2eeeb;
                    font-weight: 700;
                }
            }
        }
    }
}
/*end section slider*/
/*section advantages*/
.advantages {
    @include site-container;
    padding: 24px 0;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.22);
    background-image: linear-gradient(to top, #e1ddda 0%, #f2eeeb 100%);

    .advantages-title {
        margin: 0 auto 23px;
        text-align: center;
        color: #370909;
        font: 400 18px / 25px $OpenSans;
        text-transform: uppercase;
        
        span {
            display: block;
            font-weight: 700;
        }
    }

    .advantages-list {
        @include border-box;
        margin: 0 auto;
        padding: 0 30px;
        text-align: center;
        overflow: hidden;

        li {
            display: block;
            margin: 30px auto;
            padding: 0;
            text-align: left;
            vertical-align: top;

            .icon-wrapper {
                float: left;
                min-width: 65px;
                margin: 0 18px 0 0;

                .fa {
                    color: #fff;
                    font-size: 48px;
                    @include transition;
                }
            }

            .title {
                overflow: hidden;
                color: #370909;
                font: 400 18px / 22px $OpenSans;
            }

            &:hover {
                .icon-wrapper {
                    .fa {
                        color: #370909;
                    }
                }
            }
        }
        .sign-up-meeting {
            padding: 15px;
            border: 1px solid #6c6460;

            .icon-wrapper {
                .fa {
                    color: #6c6460;
                }
            }

            .title {
                color: #6c6460;
                font: 700 18px  / 22px $OpenSans;

                a {
                    color: #6c6460;
                }
            }
        }
    }
}
/*end section advantages*/

.about-section {
    background-image: url("../images/about-description-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    &:before {
        display: block;
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.45);
        z-index: 0;
    }

    .about-title {
        margin: 30px auto 25px;
        text-align: center;
        color: #e1ddda;
        font: 700 22px / 30px $OpenSans;
        text-transform: uppercase;
    }

    p {
        margin: 15px auto;
        text-align: center;
        color: #e1ddda;
        font: 400 16px / 25px $OpenSans;
    }
}

.news-section {
    padding: 0;
    overflow: hidden;

    .best-offerers {
        background-color: #fcfcfc;

        .offers-bg {
            overflow: hidden;
            background-image: url("../images/best-offers-photo.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;


            .best-offers-btn {
                display: block;
                float: right;
                margin: 25px 0 100px;
                padding: 15px 25px 15px 15px;
                color: #370909;
                font: 400 22px / 24px $OpenSans;
                box-shadow: 0 5px 7px rgba(0, 0, 0, 0.3);
                background-image: linear-gradient(to top, #ffac08 0%, #ffac08 0%, #ffb522 100%);
            }
        }

        .best-offerers-list {
            margin: 20px auto 25px;
            padding: 0 25px;

            li {
                overflow: hidden;
                display: block;
                margin: 10px auto;

                .icon-wrapper {
                    float: left;
                    min-width: 17px;
                    margin: 0 15px 0 0;

                    .fa {
                        display: block;
                        margin: 0 auto;
                        text-align: center;
                        color: #6c6460;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 23px;
                    }
                }

                .description {
                    overflow: hidden;
                    p {
                        color: #6c6460;
                        font: 400 18px / 22px $OpenSans;
                    }
                }
            }
        }
    }
}

.video-section {
    overflow: hidden;


    // video
    .video-wrapper {
        position: relative;
        height: 205px;

        .poster-img {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background-image: url("../images/video-poster.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }

    .video-wrapper > video {
        width: 100%;
        margin-top: -10%;
    }
    .video-wrapper > video[poster]{
        // background-size: 100% 100%;
    }

    .video-wrapper > video.has-media-controls-hidden::-webkit-media-controls {
        display: none;
    }

    .video-overlay-play-button {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        padding: 10px calc(50% - 50px);
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        opacity: 0.95;
        cursor: pointer;
        background-image: linear-gradient(transparent, #000);
        transition: opacity 150ms;
        z-index: 3;
    }

    .video-overlay-play-button:hover {
        opacity: 1;
    }

    .video-overlay-play-button.is-hidden {
        display: none;
    }
}

.voting-section {
    box-shadow: 0 6px 9px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    .title-bg {
        overflow: hidden;
        background-color: #ffad0b;

        .form-voting-title {
            margin: 20px auto 15px;
            text-align: center;
            color: #ffffff;
            font: 700 22px / 30px $OpenSans;
        }

        .voiting-result-sign {
            display: none;
            margin: 0 auto 15px;
            color: #ffffff;
            font: 600 17px / 30px $OpenSans;
        }
    }

    .voting-form-wrapper {

        .form-row {
            margin: 10px auto;
        }
        input[type="radio"] {
            display: inline-block;
            width: 15px;
            height: 15px;
            border: 1px solid #c9c4c0;
            background-color: #f2eeeb;
        }

        label {
            display: inline-block;
            margin: 0 0 0 10px;
            color: #6c6460;
            font: 400 18px / 20px $OpenSans;
        }

        #submit-voiting {
            display: block;
            width: 150px;
            height: 44px;
            margin: 20px auto;
            text-align: center;
            color: #370909;
            font: 400 18px / 40px $OpenSans;
            border: 1px solid #370909;
            background-color: transparent;
            cursor: pointer;
            @include transition;

            &:hover {
                background-color: #370909;;
                color: #fff;
            }
        }
    }

    .voting-form-result-wrapper {
        padding: 0 15px;
        display: none;
        .voiting-result-list {
            li {
                display: block;
                margin: 10px auto 30px;

                .result-row {
                    overflow: hidden;

                    .color-circle {
                        float: left;    
                        width: 15px;
                        height: 15px;
                        margin: 2px 10px 0 0;
                        border-radius: 100%;
                    }
                    .result-sign {
                        overflow: hidden;
                        color: #6c6460;
                        font: 400 18px / 20px $OpenSans;
                    }

                }

                .result-percent-block {
                    clear: both;
                    overflow: hidden;
                    margin: 20px auto 0;

                    .percent-sign {
                        display: block;
                        float: right;
                        margin: 15px 15px 13px 0;
                        color: #ffffff;
                        font: 400 18px / 20px $OpenSans;
                    }
                }


                &:first-child {
                    .color-circle {
                        background-color: #703288;
                    }

                    .result-percent-block {
                        background-image: linear-gradient(88deg, #703288 0%, #a968c2 99%, #a968c2 100%);
                    }
                }
                &:nth-child(2) {
                    .color-circle {
                        background-color: #861400;
                    }

                    .result-percent-block {
                        background-image: linear-gradient(to right, #861400 0%, #a24b3d 100%);
                    }
                }
                &:nth-child(3) {
                    .color-circle {
                        background-color: #ffad0b;
                    }

                    .result-percent-block {
                        background-image: linear-gradient(to right, #ffad0b 0%, #fbc55c 100%);
                    }
                }
                &:nth-child(4) {
                    .color-circle {
                        background-color: #f9d525;
                    }

                    .result-percent-block {
                        background-image: linear-gradient(93deg, #f9d525 0%, #f7e06d 100%);
                    }
                }

            }
        }
    }
}

.about-description-section {
    background-image: url("../images/about-description-bottom-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;

    &:before {
        display: block;
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.45);
        z-index: 0;
    }

    .about-description-content {
        margin: 20px auto;
        color: #f2eeeb;
        text-align: center;
        font: 400 16px / 25px $OpenSans;

        span {
            font-weight: 700;
        }
    }
}

.preffoter-section {
    background-color: #e1ddda;

    .contact-info {
        padding: 30px 20px;
        .preffoter-phone,
        .preffoter-mail {
            overflow: hidden;
            .fa {
                display: block;
                float: left;
                margin: 0 15px 0 0;
                color: #6c6460;
                font-size: 26px;
                font-weight: bold;
                line-height: 32px;
            }

            a {
                color: #6c6460;
                font: 700 22px / 32px $OpenSans;
            }
        }
        .preffoter-phone {
            margin-bottom: 20px;
        }
    }

    .preffoter-phone {}

    .preffoter-mail {}

    .preffoter-social-icons {
        .preffoter-list {

        }
    }

    .subscribe-form-wrapper {}
}