@media (min-width: 425px) {
  .school-more-slider {
    padding: 50px 0;

    .white-block-left,
    .white-block-right {
      width: 18.5%;
    }

    .white-block-left {
      left: 0;
    }
    .white-block-right {
      right: 0;
    }
    .swiper-container {
      padding-left: 0;

      .swiper-slide {
        height: auto;
        max-width: 280px;
        max-height: 170px;
        overflow: hidden;
        .img-wrapper {
          width: 280px;
          height: 170px;

          img {
            min-width: 395px;
            min-height: 285px;
          }
        }
      }
    }
  }
}
@media (min-width: 768px) {
  .navbar-header {
    float: initial;
  }
  .navbar {
    & > .container {
      .navbar-brand {
        margin: 5px 0 0;
      }
    }
  }
  header {
    .logo {
      margin: 5px auto 0;
    }
  }
  .navbar-nav {
    float: initial;
    & > li {
      float: initial;
    }
  }
  .navbar-collapse {
    padding: 0;
  }

  .video-section {
    .video-wrapper {
      height: auto;

      video {
        max-height: 585px;
        margin: 0;

      }

      .poster-img {
        position: absolute;
        min-height: 500px;
      }
    }
  }
  .voting-section {
    padding: 30px 0;
    overflow: hidden;

    .title-bg {
      margin-bottom: 20px;
    }


    .voting-form-result-wrapper {
      .voiting-result-list {
        margin: 0 auto;
        text-align: center;

        li {
          display: inline-block;
          width: 24%;

          .result-row {
            text-align: left;
            padding: 0 0 0 10px;
          }

        }
      }
    }
  }
  .preffoter-section {
    .contact-info {
      padding: 30px 0;
    }
    .preffoter-social-icons {
      .preffoter-list {
        padding: 30px 0;
        li {
          margin: 5px;
          .fa {
            font-size: 29px;
          }
        }
      }
    }
    .subscribe-form-wrapper {
      margin: 35px auto 30px;
    }
  }

  .helpful-article-list {
    width: 100%;
    border: 1px solid #f2eeeb;
    overflow: hidden;
    .row {
      max-height: 305px;
      overflow: hidden;
    }

    .overflow-content {
      padding: 20px 25px 0 25px;
    }
  }
  .helpful-article-list-more {
    overflow: hidden;

    .more-img-wrapper {
      float: left;
      margin: 0 20px 10px 0;
    }


    .more-content {
      .article-date {
        margin: 15px 0 30px 0;
      }
      .content {
        margin: 20px auto;
      }
    }
  }

  .inside-section-content {
    .back-btn-more-page {
      margin: 15px 20px 40px 0;
    }
  }

  .press-center-articles-list {
    .article-img-wrapper {
      width: 248px;
      height: 153px;
      overflow: hidden;
    }

    .article-content {
      padding: 0 0 0 15px;
      text-align: justify;

      .name-of-article {
        margin: 0;
      }

      .date-of-article {
        margin: 10px 0 20px;
      }
    }

    .more-btn-content {
      &:before {
        left: 15px;
      }

      .more-btn-line {
        margin: 0;
      }
    }
  }
  .inside-section-content {
    width: 100%;

    .press-center-articles-more {
      .poster-wrapper {
        height: 315px;

        img {
          display: block;
          margin: 0 auto;
          text-align: center;
        }
      }
    }
  }
  .inside-section-content {
    .slider-more {
      margin: 20px auto;
      .left-rgba,
      .right-rgba {
        width: 40px;
        height: 100%;

      }

      .press-center-more-slider {
        height: 155px;
        position: relative;
        max-width: 975px;
        margin: 0 auto;

        .slick-list {
          max-width: 870px;
          margin: 0 auto;

          .slick-slide {
            width: 281px !important;
            height: 157px;
          }
        }

        .slider-next,
        .slider-prev {
          display: block;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          z-index: 2;
          cursor: pointer;

          .fa {
            color: #370909;
            font-size: 70px;
            @include transition;

            &:hover {
              color: #ffad0b;
            }
          }
        }

        .slider-prev {
          left: 10px;
        }

        .slider-next {
          right: 10px;
        }

      }
    }
  }
  .inside-section-content {
    &.about-page {

      .about-wrapper-thumbnail {
        width: 60%;
        float: right;
      }
      .about-content-description {
        margin: 0 auto 15px;
      }

      .download-presentation-btn {
        margin: 0 0 0 15px;
      }
    }
  }

  .school-more-slider {
    padding: 50px 0;
    .swiper-container {
      padding-left: 25%;

      .swiper-slide {
        height: auto;
        max-width: 395px;
        max-height: 325px;
        overflow: hidden;
        .img-wrapper {
          width: 395px;
          height: 285px;

          img {
            min-width: 395px;
            min-height: 285px;
          }
        }
      }

      // .swiper-slide-active,
      // .swiper-slide-next {
      //   max-width: 485px;
      //   .img-wrapper {
      //     width: 485px;
      //     height: 325px;

      //     img {
      //       min-width: 485px;
      //       min-height: 325px;
      //     }
      //   }
      // }
    }
  }

  .school-video-section {
    width: 100%;
    margin: 20px auto;
    .video-wrapper {
      height: 560px;
    }
  }
  .individual-school-video-section {
    width: 100%;
    margin: 20px auto;
    .video-wrapper {
      height: 560px;
    }
  }

  .poster-school-section {
    .download-block {
      padding: 0 5px;
      .download-btn {
        width: 100%;

        .fa {
          margin: 0 5px;
        }
      }
    }
  }

  .filter-content {
    .grid {
      &.individual-programs {
        padding: 0 10px;
        .element-item {
          width: 100%;
          max-height: 205px;
          overflow: hidden;
          margin: 1% 0;
          border: 1px solid #f2eeeb;

          .item-thubnail {
            min-width: 445px;
            width: 445px;
            min-height: 204px;
            height: 204px;
            overflow: hidden;
            float: left;
            margin: 0 25px 0 0;

            img {
              width: 445px;
              min-height: 205px;
            }
          }
          .owerflow-width-wrapper {
            padding: 0 20px 0 0;
            .name-of-school {
              margin: 10px 0;
            }
            .school-more {
              margin: 0;
            }
          }
        }

      }
    }
  }

  .individual-programs-poster {
    .poster-wrapper {
      img {
        height: 305px;
      }
    }
  }
  .individual-program-description-section {
    div {
      padding: 0;
    }
  }
  
}
@media (min-width: 1024px) {

  .order-call  {
    display: block;
    right: 0;
  }

  header {
    height: 125px;

    .container {
      overflow: initial;
    }
    .logo {
      position: absolute;
      z-index: 2;
      float: left;
      width: 125px;
      height: 145px;
      margin: 5px auto 0;
      overflow: hidden;
    }
    .navbar {
      height: 50px;
      padding-top: 5px;
      & > .container {
        .navbar-brand {
          margin: 0;
          padding: 0;
        }
      }
    }

    .btn-search,
    .call-us-block {
      display: none;
    }
    .desctop-phone {
      float: left;
      max-width: 190px;
      margin: 0 0 0 118px;
      overflow: hidden;

      img {
        float: left;
        width: 20px;
        margin: 9px 2px 0 0;
      }

      a {
        overflow: hidden;
        color: #6c6460;
        font: 700 18px / 32px $OpenSans;
      }
    }

    .question-online {
      overflow: hidden;
      float: left;
      max-width: 225px;
      margin: 0 35px 0 33px;
      overflow: hidden;

      .fa {
        display: block;
        float: left;
        margin: 5px 5px 0 0;  
        color: #861400;
        font-size: 26px;
        font-weight: 400;
        line-height: 28px;
      }

      a {
        color: #861400;
        font: 600 18px / 32px $OpenSans;
        text-decoration: underline;
      }
    }

    .desctop-social {
      float: left;
      margin: 5px 20px 0 0;
      .social-list {
        @include border-box;
        margin: 0 auto;
        text-align: center;
        li {
          display: inline-block;
          margin: 0 5px;

          .fa {
            font-size: 28px;
            color: #6c6460;
            @include transition;
          }
          .fa-youtube-square {
            &:hover {
              color: #370909;
            }
          }
          .fa-facebook-square {
            &:hover {
              color: #3b5998;
            }
          }
        }
      }
    }

    .desctop-lenguage {
      float: left;
      margin: 5px 0 0;
      * {
        display: inline-block;
        color: #370909;
        letter-spacing: -1px;
        font: 400 18px / 27px $OpenSans;
      }
    }

    .desctop-search-block {
      float: right;
      width: 194px;
      height: 30px;
      margin: 2px 0 0;
      overflow: hidden;
      border-radius: 20px;
      background-color: #370909;

      .search-text {
        display: block;
        float: left;
        width: 194px;
        height: 30px;
        padding: 0 35px 0 10px;
        color: #e5e0de;
        font: 400 18px / 30px $MyriadPro;
        border-radius: 20px;
        border: 0;
        background-color: #370909;
        outline: none;
      }

      .search-btn {
        display: block;
        float: right;
        margin: -30px 0 0 0;
        border: 0;
        background: transparent;

        .fa {
          display: block;
          margin: 2px 8px 0 0;
          color: #e5e0de;
          font-size: 18px;
          opacity: 0.6;
          font-weight: 400;
          line-height: 23px;
        }
      }
    }

    .navbar-header {
      max-width: 975px;
      height: 50px;
      margin: 0 auto;
    }

    .navbar-inverse {
      float: right;
      margin: 0;
      background-image: none;
      border-radius: 0;
      background-color: #ffffff;


      .navbar-nav {
        margin: 10px 0 0;
        & > li {
          float: left;

          & > a {
            padding: 10px 10px 25px 10px;
            color: #360808;
            font: 400 14px / 22px $OpenSans;
            text-shadow: none;
            @include transition;

            &:hover {
              color: #ffac08;
            }
          }

          &.sub-menu-mobile {

            .sub-menu-block {
              display: none;
              position: absolute;
              z-index: 3;
              top: 57px;
              background-color: #370909;
              ul {
                li {
                  a {
                    display: block;
                    padding: 5px 10px;
                    color: #ffffff;
                    font: 400 14px / 22px $OpenSans;
                    @include transition;

                    &:hover {
                      color: #ffac08;
                    }
                  }
                }
              }
            }

            &:hover {
              .sub-menu-block {
                display: block;
              }
            }
          }
        }
      }
    }
  }
  .inside-page-header {
    height: 125px;
  }

  .slider-section {
    clear: both;
    overflow: hidden;

    .main-slider {
      .slick-dots {
        display: block !important;
      }
    }
    .slick-slide {
      height: 475px;
    }

    .slider-content {
      padding: 55px 35px 50px 40px;
      top: 46%;
      .main-title {
        min-width: 505px;
        font-size: 35px;
        line-height: 40px;
      }
    }
  }
  .advantages {
    padding: 24px 0 35px;
    .advantages-title {
      font-size: 25px;
      line-height: 40px;
      margin: 10px auto 25px;
      padding-left: 21px;
      letter-spacing: -0.2px;


      span {
        display: inline;
      }
    }

    .advantages-list {
      margin: 0 auto;
      li {
        padding: 0 1%;
        text-align: center;
        .icon-wrapper {
          float: initial;
          width: 65px;
          margin: 15px auto 32px;
          padding-top: 10px;

          .fa {
            font-size: 70px;
          }
        }
        &:nth-child(2) {
          border-left: 2px solid rgba(255, 255, 255, 0.5);
          border-right: 2px solid rgba(255, 255, 255, 0.5);
        }

        .title {
          width: auto;
          clear: both;
          font-size: 17px;
        }
      }
      .sign-up-meeting {
        padding: 15px 15px 20px 15px;
        .icon-wrapper {
          margin: 0 auto 32px;
        }
        .title {
          font-size: 17px;
        }
      }
    }
  }
  .about-section {
    padding-bottom: 105px;
    .about-title {
      margin: 55px auto 5px;
      font-size: 25px;
    }

    p {
     margin: 30px auto 0;
   }
 }
 .news-section {
  .best-offerers {
    .offers-bg {
      .best-offers-btn {
        margin: 25px 0 220px;
      }
    }
    .best-offerers-list {
      margin: 100px auto 25px;
    }
  }

  .last-news {
    overflow: hidden;
    .news-main-title {
      margin: 34px auto 30px;
      text-align: center;
      color: #370909;
      font: 400 25px / 40px $OpenSans;
      text-transform: uppercase;

      span {
        font-weight: 700;
      }
    }

    .news-list {
      li {

        .item-content {
          border: 1px solid #f2eeeb;
        }

        .icon-wrapper {
          width: 303px;
          height: 187px;
          overflow: hidden;

          img {
            max-width: 100%;
            height: auto;
          }
        }

        .content-article {
          overflow: hidden;
          margin: 12px 15px;

          .article-title {
            color: #6c6460;
            font: 700 25px / 27px $OpenSans;
          }

          .article-published-date {
            margin: 5px 0 13px;
            color: #e1ddda;
            font: 400 16px / 20px $OpenSans;
            font-style: italic;
          }

          .article-short-descroption {
            max-height: 105px;
            overflow: hidden;
            p {
              color: #6c6460;
              font: 400 16px / 25px $OpenSans;
            }
          }

          .article-more-btn {
            display: block;
            float: right;
            margin: 9px 6px 5px 0;
            color: #6c6460;
            font: 600 16px / 20px $OpenSans;
            @include transition;

            &:hover {
              color: #ffae0c;
            }
          }
        }

      }
    }
    .all-news-btn {
      display: block;
      float: right;
      width: 148px;
      height: 32px;
      margin: 30px 15px 30px 0;
      color: #370909;
      text-align: center;
      font: 400 18px / 27px $OpenSans;
      border: 1px solid #370909;
      @include transition;

      &:hover {
        color: #ffffff;
        background-color: #370909;
      }
    }
  }
}

.video-section {
  .video-wrapper {
    .video-sign {
      position: relative;
      z-index: 4;
      padding: 30px 0 0;
      color: #e1ddda;
      font: 400 17px / 30px $OpenSans;
      font-style: italic;
    }
  }
}

.voting-section {
  padding: 25px 0 0;

  .title-bg {
    .form-voting-title {
      margin: 12px auto 15px;
      font-size: 25px;
    }

    .voiting-result-sign {
      font-size: 21px;
    }
  }
  .voting-form-wrapper {
    overflow: hidden;
    margin: 40px auto 0;

    #submit-voiting {
      margin: 45px auto 20px;
    }
  }
  .voting-form-result-wrapper {
    margin: 20px auto 57px;
  }
}

.about-description-section {
  .about-description-content {
    margin: 38px auto 25px;
  }
}

.preffoter-section {
  padding: 5px 15px 10px;

  .prefooter-logo {
    width: 125px;
    height: 135px;
    overflow: hidden;

    img {
      max-width: 100%;
      height: 100%;
    }
  }

  .contact-info {
    padding: 25px 0 30px;
    .preffoter-phone,
    .preffoter-mail {
      .fa {
        font-size: 24px;
        margin: 0 15px 0 5px;
      }

      a {
        font-size: 18px;
      }
    }
    .preffoter-phone {
      margin: 0;
    }
  }
  .preffoter-social-icons {
    padding: 22px 0 30px 17px;
  }
  .subscribe-form-wrapper {
    float: right;
    margin: 27px 0 30px;

    .subscribe-field  {
      width: 300px;
    }
    .subscribe-send-btn {
      width: 300px;
      margin: 13px auto 0;
    }
  }
}
footer {
  .copyright {
    .copyright-sign {
      padding: 5px 0;
    }
  }
}

.inside-page-title-section {

  .title {
    padding: 0;
    h2 {
      margin: 30px auto 5px;
      text-align: left;
      font-size: 25px;
      line-height: 30px;
    }
  }
  .inside-title-img-wrapper {
    position: relative;

    &.parthners-img {
      img {
        top: -55px;
        left: 0;
      }
    }

    &.helpful-info-img {
      top: -127px;
      left: -120px;
    }

    &.press-center-img {
      top: -121px;
      left: -300px;
    }
    &.founders-img {
     top: -90px;
     left: -100px;
   }

   &.about-page-img {
    top: -8px;
    left: -45px;
  }

  &.contact-page-img {
   top: -20px;
   left: -15px;
 }
 &.schools-img {
  top: 0;
  left: -180px;
}
&.individual-programs-img {
  top: -97px;
  left: -115px;
}

img {
  position: absolute;
}
}

}

.inside-section-content {
  width: 100%;
  .custom-breadcrumb {
    margin-bottom: 30px;
    padding: 20px 0;

    div {
      padding: 0;
    }

    a, span {
      font: 400 18px / 20px $OpenSans;
      font-family: "Open Sans";
      color: #370909;
    }
    a {
      &:hover {
        color: #ffac08;
      }
    }
  }
  .site-navigation {
    margin-top: 30px;
  }

  .founders-list {
    .overflow-content {
      .founders-name {
        margin: 0 auto 15px;
        text-align: left;
      }
      .founders-position {
        text-align: left;
      }
    }
  }
}

.inside-section-content{
  &.about-page {
    overflow: hidden;
    padding-right: 0;
    .about-wrapper-thumbnail {
      position: relative;
      height: 685px;

      img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      }

      &:before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 0;
        z-index: 2;
        height: 0;
        border-left: 0 solid transparent;
        border-right: 145px solid transparent;
        border-top: 685px solid #ffffff;
      }
    }

    .about-content-description {
      padding: 0 20px 0 0;
      margin: -7px auto 0;
      max-height: 680px;
      overflow: hidden;
    }

    .download-presentation-btn {
      width: 320px;
      margin: 40px 0 0;
    }

    .site-navigation {
      .share-block {
        margin: 20px 0;
        padding: 0;
      }
    }
  }
}
.contact-page {
  .position-contact-block {

    .custom-map {
      height: 495px;

      .mapWrapper {
        height: 495px;
        #mapWrapper {
          min-height: 550px !important;
        }
      }
    }

    .contact-info-block,
    .contact-page-form {
      position: absolute;
      z-index: 3;
      top: 0;
      width: 335px;
      height: 495px;
      overflow: hidden;
      background-color: #ffffff;
    }
    .contact-info-block {
      left: 0;

      .information {
        margin: 30px auto 10px;
      }
    }
  }
  .contact-page-form {
    right: 0;
  }
}

.filter-section {



  .width-title {
    width: 20%;
    margin: 0;
  }

  .width-column {
    margin: 0 0 0 10px;
    padding: 0;
  }

  .filter-title {
    color: #861400;
    font: 700 22px / 34px $OpenSans;
    text-transform: uppercase;
  }

  .filter-header {
    width: 100%;
    height: 42px;
    padding: 0 13px;
    overflow: hidden;
    background-color: #f2eeeb;
    .filter-icon {
      float: left;
      min-width: 20px;
      margin: 0 10px 0 0;
      padding: 10px 0;

      .fa {
        display: block;
        margin: 0 auto;
        text-align: center;
        color: #861400;
        font-size: 25px;
      }
    }
    .filter-text {
      float: left;
      margin: 10px 0 0;
      p {
        color: #8a200e;
        font: 400 18px / 22px $OpenSans;
      }
    }
    .fiter-btn-desctop {
      float: right;
      margin: 10px 0 0;
      cursor: pointer;

      .fa {
        display: block;
        color: #861400;
        font-size: 25px;
      }
    }
  }

  .filter-menu-content {
    width: 251px;
    height: auto;
    margin: 3px auto 0;
    background-color: #f2eeeb;
    display: none;
    position: absolute;
    top: 43px;
    left: 0;
    z-index: 3;

    &.filter-menu-content-active {
      display: block;
    }

    ul {
      li {
        display: block;
        margin: 2px auto;
        padding: 0 15px;

        a {
          display: block;
          color: #861400;
          font: 400 18px / 24px $OpenSans;
        }
      }
    }
  }
}

.filter-content {
  .grid {
    // min-height: 505px;
    margin: 45px auto 0;

    .element-item {
      border: 1px solid #f2eeeb;
    }
  }
}
.school-video-section {
  .video-wrapper {
    & > video {
      width: 100%;
      margin-top: -2%;
      height: 100%;
    }
  }
}
.individual-school-video-section {
  .video-wrapper {
    & > video {
      width: 100%;
      margin-top: -2%;
      height: 100%;
    }
  }
}

.poster-school-section {
  .position-school-content {
    left: 50%;
    transform: translateX(-50%);
    width: 100%;

    .col-md-6 {
      padding: 0 5px;
    }
  }

  .download-block {

    .download-btn {
      width: 100%;

      .fa {
        margin: 0 15px 0 15px;
      }
    }
  }

  .school-description-block,
  .recomendation-block {
    float: left;
    width: 47%;
    height: 670px;
    max-height: 670px;
    overflow: hidden;
    margin: 20px 15px;
    padding: 30px 35px;

    .description-title {
      margin: 0 auto 15px;
    }

    .description-text {
      max-height: 550px;
      overflow: hidden;
    }

    .recomendation-list {
      max-height: 550px;
      overflow: hidden;
      li {
        margin: 25px auto;
      }
    }
  }
}

.interesting-school-list {
  position: relative;
  width: 100%;
  padding-bottom: 40px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.14);
  background-color: #f2eeeb;

  .title {
    margin: 50px auto 40px;
    text-align: center;
    color: #370909;
    font: 400 25px / 30px $OpenSans;
    text-transform: uppercase;

    span {
      font-weight: 700;
    }
  }

  .school-item {
    .item-thubnail {
      width: 100%;
      max-width: 305px;
      max-height: 185px;
      overflow: hidden;

      img {
        width: 100%;
      }
    }

    .owerflow-width-wrapper {
      overflow: hidden;
      padding: 0 20px;
      background-color: #ffffff;
    }

    .name-of-school {
      margin: 20px 0;
      color: #6c6460;
      text-align: left;
      font: 700 22px / 24px $OpenSans;
    }

    .characteristics-list {
      li {
        overflow: hidden;
        display: block;
        margin: 10px auto;

        .icon-wrapper {
          float: left;
          min-width: 17px;
          margin: 0 15px 0 0;

          .fa {
            display: block;
            margin: 0 auto;
            text-align: center;
            color: #6c6460;
            font-size: 18px;
            font-weight: 400;
            line-height: 23px;
          }
        }

        .description {
          overflow: hidden;
          p {
            text-align: left;
            color: #6c6460;
            font: 400 18px / 22px $OpenSans;
          }
        }
      }
    }

    .school-more {
      display: block;
      float: right;
      margin: 10px 0 20px;
      color: #6c6460;
      font: 600 16px / 20px $OpenSans;
      @include transition;

      &:hover {
        color: #ffad0a;
      }
    }
  }
}

.poster-school-section {
  .download-block {
    padding: 0 15px;
    .download-btn {
      width: 100%;

      .fa {
        margin: 0 5px;
      }
    }
  }
}

.interesting-individuals-school-list {
  position: relative;
  width: 100%;
  padding-bottom: 50px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.14);
  background-color: #f2eeeb;

  .title {
    margin: 50px auto 40px;
    text-align: center;
    color: #370909;
    font: 400 25px / 30px $OpenSans;
    text-transform: uppercase;

    span {
      font-weight: 700;
    }
  }

  .school-item {
    width: 100%;
    max-height: 205px;
    margin: 1% 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;

    .item-thubnail {
      min-width: 445px;
      width: 445px;
      min-height: 204px;
      height: 204px;
      overflow: hidden;
      float: left;
      margin: 0 25px 0 0;

      img {
        width: 445px;
        min-height: 205px;
      }
    }
    .owerflow-width-wrapper {
      padding: 0 20px 0 0;
      .name-of-school {
        margin: 10px 0;
      }
      .school-more {
        margin: 0;
      }
    }
  }
}

}
@media (min-width: 1200px) {
 .order-call {
  right: 15%;
}
.inside-section-content {
  .press-center-articles-more {

    .poster-wrapper {
      img {
        min-width: 975px;
      }
    }
    .padding-space-content {
      .row {
        width: 100%;
        min-width: 975px;
      }
      .download-btn {
        .fa {
          margin: 0 15px 0 20px;
        }
      }
    }
    .download-block {
      width: 24.4%;
      margin: 0 5px 0 0;
      overflow: hidden;
      @include border-box;

      .download-btn {
        width: 100%;
      }
    }

  }
}
.individual-program-description-section {
  .row {
    padding: 0 15px;
  }
}
}
@media (min-width: 1440px) {
  .inside-section-content{
    &.about-page {
      .about-wrapper-thumbnail {
        width: 55%;
      }
    }
  }
}
@media (min-width: 1680px) {
  .order-call {
    right: 25%;
  }
}