.direction {
	height: 60px;
	.filter-btn {
		float: right;
	}

	.filter-block {
		position: absolute;
		width: 100%;
		min-width: 320px;
		background-color: #ede9e6;
		top: 32px;
		left: 0;
		margin: 0 -15px;
		z-index: 2;
		display: none;

		&.filter-active {
			display: block;
		}

		.filter-list-mobile {

			.filter-header-mobile {
				overflow: hidden;
				padding: 0 25px;
				.filter-icon {
					float: left;
					min-width: 20px;
					margin: 0 10px 0 0;
					padding: 15px 0;

					.fa {
						display: block;
						margin: 0 auto;
						text-align: center;
						color: #861400;
						font-size: 25px;
					}
				}
				.filter-text {
					float: left;
					margin: 15px 0 0;
					p {
						color: #8a200e;
						font: 400 18px / 22px $OpenSans;
					}
				}
				.fiter-btn {
					float: right;
					margin: 15px 0 0;
					cursor: pointer;

					.fa {
						display: block;
						color: #861400;
						font-size: 25px;
					}
				}
			}

			.filter-menu-content {
				padding: 0 25px;
				background-color: #370909;
				display: none;

				&.filter-menu-content-active {
					display: block;
				}
			}
		}
	}
}

.filter-content {
	.grid {
		.element-item {
			.item-thubnail {
				width: 100%;
				max-width: 320px;
				max-height: 200px;
				overflow: hidden;

				img {
					width: 100%;
				}
			}

			.owerflow-width-wrapper {
				overflow: hidden;
				padding: 0 20px;
			}

			.name-of-school {
				margin: 20px 0;
				color: #6c6460;
				text-align: left;
				font: 700 22px / 24px $OpenSans;
			}

			.characteristics-list {
				li {
					overflow: hidden;
					display: block;
					margin: 10px auto;

					.icon-wrapper {
						float: left;
						min-width: 17px;
						margin: 0 15px 0 0;

						.fa {
							display: block;
							margin: 0 auto;
							text-align: center;
							color: #6c6460;
							font-size: 18px;
							font-weight: 400;
							line-height: 23px;
						}
					}

					.description {
						overflow: hidden;
						p {
							text-align: left;
							color: #6c6460;
							font: 400 18px / 22px $OpenSans;
						}
					}
				}
			}

			.school-more {
				display: block;
				float: right;
				margin: 10px 0 20px;
				color: #6c6460;
				font: 600 16px / 20px $OpenSans;
				@include transition;

				&:hover {
					color: #ffad0a;
				}
			}
		}
	}
}