/* ---- filters-button ---- */
.filters-button {
  display: inline-block;
  padding: 5px;
  background: none;
  border: none;
  cursor: pointer;
}
/* .filters-button:hover {
  background-color: #2ecc71;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
  color: #fff;
}
.filters-button:active,
.filters-button.is-checked {
  background-color: #2ecc71;
}
.filters-button.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
  } */
  /* ---- button-group ---- */

  .button-group:after {
    content: '';
    display: block;
    clear: both;
  }
  .button-group a:hover {
    text-decoration: none;
  }
  .button-group li {
    display: block;
    margin: 5px 0;
  }
  .button-group {
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    display: block;
  }
  .button-group .filters-button {
    display: block;
    margin: 0 auto;
    color: #ede9e6;
    font: 400 18px / 25px "Open Sans", sans-serif;
  }
  .button-group .filters-button:hover {
    color: #ffad0b;
  }
  /* .button-group .button:first-child { border-radius: 30px; }
  .button-group .button:last-child { border-radius: 30px; margin-right: 0; }
  */
  /* ---- isotope ---- */

  .grid {
    position: relative;
    width: 100%;
    display: block;
    margin: 15px auto 0;
    text-align: center;
  }
  /* clear fix */
  .grid:after {
    content: '';
    display: block;
    clear: both;
  }
  .element-item {
    position: relative;
    float: left;
    width: 100%;
    margin: 0;


  }
  @media (min-width: 460px) {
    .element-item {
      width: auto;
      margin:  1%;
    }

    .individual-programs .element-item  {
      width:  100%;
    }
  }

  @media (min-width: 1024px) {
    .element-item {
      width: 31%;
    }
    .individual-programs .element-item  {
      width:  100%;
    }
  }
  .element-item > * {
    margin: 0;
    padding: 0;
  }
  .isotope-item { 
    z-index: 1; 
  } 
  
  .isotope-hidden.isotope-item { 
    pointer-events: none; 
    z-index: 1; 
  } 
  
  .isotope, 
  .isotope .isotope-item { 
    -webkit-transition-duration: 0.8s; 
    -moz-transition-duration: 0.8s; 
    transition-duration: 0.8s; 
  } 
  
  .isotope { 
    -webkit-transition-property: height, width; 
    -moz-transition-property: height, width; 
    transition-property: height, width; 
  } 
  
  .isotope .isotope-item { 
    -webkit-transition-property: -webkit-transform, opacity; 
    -moz-transition-property:    -moz-transform, opacity; 
    transition-property:         transform, opacity; 
  }